<%= render partial: 'search' %>
<% if @count %>
  <h1><%= @count %> Results for: "<%= @search %>"</h1>
<% end %>
<%= link_to "First", index_recipes_path({search: @search, page: 1}) %>
<% (@min_page..@max_page).to_a.each do |page| %>
  <% if page == @page %>
    <span><%= page %></span>
  <% else %>
    <%= link_to page, index_recipes_path({search: @search, page: page}) %>
  <% end %>
<% end %>
<%= link_to "Last", index_recipes_path({search: @search, page: @last_page}) %>
<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <img alt="<%= recipe.name %>" src="<%= recipe.image_url %>" />
      <%= link_to recipe.name, show_recipe_path(recipe.name) %>
    </li>
  <% end %>
</ul>
