<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <script src="https://smartlock.google.com/client"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h2><%= link_to "Gobbler", root_path %></h2>
    </header>
    <span id="clientId" value="<%= ENV['GOOGLE_CLIENT_ID'] %>" />
    <%= yield %>
    <footer>
      <div id="edamam-badge" data-color="transparent"></div>
    </footer>
  </body>
</html>
