<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h2><%= link_to "Gobbler", root_path %></h2>
      <% if @user %>
        <a href="<%= logout_path %>">Log out</a>
      <% else %>
        <a href="/auth/google_oauth2"><%= image_tag "/assets/google2x/btn_google_signin_dark_normal_web@2x.png", alt: "Sign in with Google" %></a>
      <% end %>
    </header>
    <% if flash[:result] or flash[:messages] %>
    <section class="row status <%= flash[:status] %>">
      <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result] %></h3>
      <% if flash[:messages] %>
        <ul>
          <% flash[:messages].each do |name, problems| %>
            <% problems.each do |problem| %>
              <li><%= name %>: <%= problem %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  <% end %>
    <%= yield %>
    <footer>
      <div id="edamam-badge" data-color="transparent"></div>
    </footer>
  </body>
</html>
